cookiecutter
sh
watchdog[watchmedo]

# Code quality
# ------------------------------------------------------------------------------
ruff

# Testing
# ------------------------------------------------------------------------------
pytest
pytest-cookies

# X Studios
# ------------------------------------------------------------------------------
pip-freezer
