twine  # https://github.com/pypa/twine
wheel  # https://github.com/pypa/wheel
build  # https://github.com/pypa/build

# Bare minimum requirements to provide us similar env to Cookiecutter Django.
django>=4.2.9,<5.0
django-environ
django-extensions

# Project specific requirements

# X Studios
pip-freezer  # https://github.com/tsantor/pip-freezer
